{% extends "navBase.html" %}
{% block title %}Checkout{% endblock %}
{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkout.css') }}">

    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %}
            <ul class="message">
                {% for category, message in messages %}
                    <li class="{{category}}"> {{message}} </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h1 class="header">Checkout</h1>

    <form action="{{ url_for('views.checkout') }}" method="POST">

        <div class="checkoutDetails">
            
            <h1>Contact</h1>

            <div class="box">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ user.AccountDetails.email }}" required/>
            </div>

            

            <div class="box">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" value="{{ user.AccountDetails.firstName }}" required/>   
            </div>
            

            <div class="box">
                <label for="lastName">Last Name:</label>
                {% if user.AccountDetails.lastName %}
                <input type="text" id="lastName" name="lastName" value="{{ user.AccountDetails.lastName }}" required/>
                {% else %}
                <input type="text" id="lastName" name="lastName" />
                {% endif %}
            </div>








            <h1>Delivery</h1>

            <div class="box">
                <label for="country">Country/Region:</label>
                <input type="text" id="country" name="country" value="New Zealand" required/>
            </div>


            


            <div class="box">

                {% if user.AccountDetails.addressHouseNo %}
                <label for="streetAddress">Street Address:</label> 

                <div class="boxDouble">
                    <input type="text" id="addressHouseNo" name="addressHouseNo" value="{{ user.AccountDetails.addressHouseNo }}"/>  
                    <input type="text" id="addressStreetName" name="addressStreetName" value="{{user.AccountDetails.addressStreetName }}"/> 
                </div>


                


                <label for="suburb">Suburb:</label> 
                <input type="text" id="addressSuburb" name="addressSuburb" value="{{user.AccountDetails.addressSuburb }}" /> 
                <label for="city">City:</label> 
                <input type="text" id="addressCity" name="addressCity" value="{{user.AccountDetails.addressCity }}"/> 
                <label for="postCode">Postcode:</label> 
                <input type="text" id="addressPostCode" name="addressPostCode" value="{{user.AccountDetails.addressPostCode }}"/> 
                {% else %}
                <label for="streetAddress">Street Address:</label>
                <input type="text" id="addressHouseNo" name="addressHouseNo" required/>  
                <input type="text" id="addressStreetName" name="addressStreetName" required/> 
                <label for="suburb">Suburb:</label> 
                <input type="text" id="addressSuburb" name="addressSuburb" /> 
                <label for="city">City:</label> 
                <input type="text" id="addressCity" name="addressCity" /> 
                <label for="postCode">PostCode:</label> 
                <input type="text" id="addressPostCode" name="addressPostCode" />  {% endif %}
            </div>

            <div class="box"> 
                <label for="email">Delivery Instructions:</label>
                <textarea type="text" id="deliveryInstr" name="deliveryInstr"></textarea> 
            </div>

        </div>

        <button id="payButton" type="submit">Proceed to Payment</button>
    </form>

{% endblock %}
