{% extends "navBase.html" %}
{% block title %}Contact{% endblock %}

{% block content %}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
<div class="pageContent">
    <div  class="formHead">
        <h1>Contact</h1>

        <!--Success Message-->
        {% if success %}
            <p>Thank you for your message. We'll get back to you shortly.</p>
        {% else %}
            <p>To get in touch with us regarding information or queries, please fill in the information below.</p>
    </div>


    <!--Recieving and displaying flash messages-->
    {% for message in form.name.errors %} <!--Name -->
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% for message in form.email.errors %} <!--Email-->
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% for message in form.subject.errors %} <!--Subject-->
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% for message in form.message.errors %} <!--Message-->
        <div class="flash">{{ message }}</div>
    {% endfor %}

    <!--Form-->
    <form action="{{ url_for('contact.contact')}}" method="post">

        {{ form.hidden_tag() }} <!--Inserting hidden tag to protect against CSRF attacks-->


        <div class="formSection">
            {{ form.name.label }}
            {{ form.name }}
        </div>

        <div class="formSection">
            {{ form.email.label }}
            {{ form.email }}
        </div>

        <div class="formSection">
            {{ form.subject.label }}
            {{ form.subject }}
        </div>

        <div class="formSection">
            {{ form.message.label }}
            {{ form.message }}
        </div>

        <div class="formSection">
            {{ form.submit }}
        </div>


    </form>


    {% endif %}
</div>
{% endblock %}