{% extends "navBase.html" %}
{% block title %}Contact{% endblock %}

{% block content %}

    <h2>Contact</h2>
    <hr>
    <p>To get in touch with us for further information or queries, please fill in the information below.</p>

    <!--Success Message-->
    {% if success %}
        <p>Thank you for your message. We'll get back to you shortly.</p>
    {% else %}

    <!--Recieving and displaying flash messages-->
    {% for message in form.name.errors %} <!--Name -->
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% for message in form.email.errors %} <!--Email-->
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% for message in form.subject.errors %} <!--Subject-->
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% for message in form.message.errors %} <!--Message-->
        <div class="flash">{{ message }}</div>
    {% endfor %}

    <!--Form-->
    <form action="{{ url_for('contact.contact')}}" method=post>
        {{ form.hidden_tag() }} <!--Inserting hidden tag to protect against CSRF attacks-->
        {{ form.name.label }}
        {{ form.name }}
        {{ form.email.label }}
        {{ form.email }}
        {{ form.subject.label }}
        {{ form.subject }}
        {{ form.message.label }}
        {{ form.message }}
        {{ form.submit }}
    </form>
    {% endif %}
{% endblock %}