{% extends "navBase.html" %}
{% block title %} Account Details {% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('views.editAccountDetails') }}">
    <br><br>
    <h3 align="center">My Account</h3><br><br>
    <h3 align="left">Personal Details</h3><br><br><br>

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" value="{{ user.AccountDetails.firstName }}" required/><br>
        
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" value="{{ user.AccountDetails.lastName }}"/><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ user.AccountDetails.email }}"/><br>


        <label for="mobileNo">Mobile Number:</label>
        <input type="text" id="mobileNo" name="mobileNo" value="{{ user.AccountDetails.mobileNo }}"/><br>
         <br><br>

    <h3>Shipping and Payment Details</h3><br><br><br>

        <label for="addressHouseNo">House/Unit number:</label>
        <input type="text" id="addressHouseNo" name="addressHouseNo" value="{{ user.AccountDetails.addressHouseNo }}"/><br>

        <label for="addressStreetName">Street Name:</label>
        <input type="text" id="addressStreetName" name="addressStreetName" value="{{ user.AccountDetails.addressStreetName }}"/><br>

        <label for="addressSuburb">Suburb:</label>
        <input type="text" id="addressSuburb" name="addressSuburb" value="{{ user.AccountDetails.addressSuburb }}"><br>

        <label for="addressCity">City:</label>
        <input type="text" id="addressCity" name="addressCity" value="{{ user.AccountDetails.addressCity }}"><br>

        <label for="addressPostCode">Postcode:</label>
        <input type="text" id="addressPostCode" name="addressPostCode" value="{{ user.AccountDetails.addressPostCode }}"><br><br><br>

        <label for="paymentCardNo">Payment Information:</label>
        <input type="text" id="paymentCardNo" name="paymentCardNo" value="{{ user.AccountDetails.paymentCardNo }}"><br> 

        <label for="paymentCardCvc">CVC:</label>
        <input type="text" id="paymentCardCvc" name="paymentCardCvc" value="{{ user.AccountDetails.paymentCardCvc }}"><br> 

        <label for="paymentCardExp">Expiration Date:</label>
        <input type="text" id="paymentCardExp" name="paymentCardExp" value="{{ user.AccountDetails.paymentCardExp }}"><br><br><br>


    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %} 