{% extends "navBase.html" %}
{% block title %} Account Details {% endblock %}
{% block content %}

<head>
    <meta charset="utf-8"/>
    <meta name ="viewport" content="width-device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editAccountDetails.css') }}">
</head>

<body>
    <form method="POST" action="{{ url_for('views.editAccountDetails') }}">
        <div  class="errormsg" >
            {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{category}}"> {{message}} </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>







        <h1  align="center" class="myAccountHeading">My Account</h1>

        <div class="detailsFlex">

            <div class="personalDetailsFlex">

                <h1 align="left" class="detailsHeading">Personal Details</h1>

                <div class="sideOnCategory">

                    <div class="box">
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="firstName" value="{{ user.AccountDetails.firstName }}" required/>   
                    </div>

                    <div class="box">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName" value="{{ user.AccountDetails.lastName }}"/>
                    </div>

                </div>
            
                <div class="boxSingle">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="{{ user.AccountDetails.email }}" required/>
                </div>

                <div class="boxSingle">
                    <label for="mobileNo">Mobile Number:</label>
                    <input type="text" id="mobileNo" name="mobileNo" value="{{ user.AccountDetails.mobileNo }}"/>
                </div>
            </div>








            
            <div class="personalDetailsFlex"> 
                
                <h1 class="detailsHeading">Shipping and Payment Details</h1>

                <div class="sideOnCategory">

                    <div class="box">
                        <label for="addressHouseNo">House/Unit number:</label>
                        <input type="text" id="addressHouseNo" name="addressHouseNo" value="{{ user.AccountDetails.addressHouseNo }}"/>   
                    </div>

                    <div class="box">
                        <label for="addressStreetName">Street Name:</label>
                        <input type="text" id="addressStreetName" name="addressStreetName" value="{{ user.AccountDetails.addressStreetName }}"/>
                    </div>

                </div>


                <div class="sideOnCategory">

                    <div class="box">
                        <label for="addressSuburb">Suburb:</label>
                        <input type="text" id="addressSuburb" name="addressSuburb" value="{{ user.AccountDetails.addressSuburb }}">
                    </div>

                    <div class="box">
                        <label for="addressCity">City:</label>
                        <input type="text" id="addressCity" name="addressCity" value="{{ user.AccountDetails.addressCity }}">
                    </div>

                </div>
            

               


                <div class="boxSingle">
                    <label for="addressPostCode">Postcode:</label>
                    <input type="text" id="addressPostCode" name="addressPostCode" value="{{ user.AccountDetails.addressPostCode }}">
                </div>



                <div class="boxSingle">
                    <label for="paymentCardNo">Payment Information:</label>
                    <input type="text" id="paymentCardNo" name="paymentCardNo" value="{{ user.AccountDetails.paymentCardNo }}">
                </div>



                <div class="sideOnCategory">

                    <div class="box">
                        <label for="paymentCardCvc">CVC:</label>
                        <input type="text" id="paymentCardCvc" name="paymentCardCvc" value="{{ user.AccountDetails.paymentCardCvc }}">
                    </div>

                    <div class="box">
                        <label for="paymentCardExp">Expiration Date:</label>
                        <input type="text" id="paymentCardExp" name="paymentCardExp" value="{{ user.AccountDetails.paymentCardExp }}">
                    </div>

                </div>



                
            </div>
        </div>
        <br>

        <button type="submit" align="center" class="editButton">Update Details</button>
    
    </form>
</body>
{% endblock %} 