{% extends "navBase.html" %}
{% block title %} Account Details {% endblock %}
{% block content %}

<head>
    <meta charset="utf-8"/>
    <meta name ="viewport" content="width-device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/accountDetails.css') }}">
</head>

<body>
    <form method="POST" action="{{ url_for('views.editAccountDetails') }}">
        <div  class="errormsg" >
            {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{category}}"> {{message}} </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>







        <h3  align="center" class="myAccountHeading">My Account</h3>

        <div class="detailsFlex">

            <div class="personalDetailsFlex">

                <h3 align="left" class="detailsHeading">Personal Details</h3>

                <div class="detailsFlexItem">

                    <div class="detailsFlexLabel">
                        <label for="firstName">First Name:</label>
                        <label for="lastName">Last Name:</label>
                    </div>

                    <div class="nameInput">
                        <input type="text" id="firstName" name="firstName" value="{{ user.AccountDetails.firstName }}" required/>&nbsp
                        <input type="text" id="lastName" name="lastName" value="{{ user.AccountDetails.lastName }}"/>
                    </div>
                </div>
            
                <div class="detailsFlexItem">
                    <div class="detailsFlexLabel"><label for="email">Email:</label></div>
                    <input type="email" id="email" name="email" value="{{ user.AccountDetails.email }}" required/>
                </div>

                <div class="detailsFlexItem">
                    <div class="detailsFlexLabel"> <label for="mobileNo">Mobile Number:</label></div>
                    <input type="text" id="mobileNo" name="mobileNo" value="{{ user.AccountDetails.mobileNo }}"/>
                </div>
            </div>








            
            <div class="shippingPaymentFlex"> 
                <h3 class="detailsHeading">Shipping and Payment Details</h3><br>
                <div class="detailsFlexItem">
                    <div class="detailsFlexLabel"><label for="addressHouseNo">House/Unit number:</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<label for="addressStreetName">Street Name:</label></div><br>
                    <input type="text" id="addressHouseNo" name="addressHouseNo" value="{{ user.AccountDetails.addressHouseNo }}"/>
                    <input type="text" id="addressStreetName" name="addressStreetName" value="{{ user.AccountDetails.addressStreetName }}"/>
                </div>

                <div class="detailsFlexItem">
                    <div class="detailsFlexLabel"><label for="addressSuburb">Suburb:</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<label for="addressCity">City:</label></div>
                    <input type="text" id="addressSuburb" name="addressSuburb" value="{{ user.AccountDetails.addressSuburb }}">
                    <input type="text" id="addressCity" name="addressCity" value="{{ user.AccountDetails.addressCity }}"><br>
                </div>


                <div class="detailsFlexItem">
                    <div class="detailsFlexLabel"><label for="addressPostCode">Postcode:</label></div>
                    <input type="text" id="addressPostCode" name="addressPostCode" value="{{ user.AccountDetails.addressPostCode }}"><br><br><br>
                </div>

                <div class="detailsFlexItem">
                    <div class="detailsFlexLabel"><label for="paymentCardNo">Payment Information:</label></div>
                    <input type="text" id="paymentCardNo" name="paymentCardNo" value="{{ user.AccountDetails.paymentCardNo }}"><br> 
                </div>
                    <div class="detailsFlexItem">
                        <div class="detailsFlexLabel"><label for="paymentCardCvc">CVC:</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<label for="paymentCardExp">Expiration Date:</label></div>
                    <input type="text" id="paymentCardCvc" name="paymentCardCvc" value="{{ user.AccountDetails.paymentCardCvc }}"> 
                    <input type="text" id="paymentCardExp" name="paymentCardExp" value="{{ user.AccountDetails.paymentCardExp }}"><br><br><br>
                </div>
            </div>
        </div>
        <br>

        <button type="submit" align="center" class="editButton">Update Details</button>
    
    </form>
</body>
{% endblock %} 