<!--Inherits from navBase and overrides blocks-->
{% extends "navBase.html" %}
{% block title %}Home{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %} 
{% if messages %}
    <ul>
        {% for category, message in messages %}
            <li class="{{category}}"> {{message}} </li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<h1 class="sosa" >This is the home page</h1>

{% endblock %}