<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name ="viewport" content="width-device-width, initial-scale=1"/>

        <!--Bootstrap links-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"/>

        <!--creating a block template that children will be able to override-->
        <title>{% block title %}Home{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                    <!--Nav logo-->
                    <a class="navbar-logo" href="/"> <!--linking to the home page-->
                        <img width="130px" height="70px" src="{{ url_for('static', filename='logo.png') }}">
                    </a>
                    <a class="navbar-icon" href="/accountDetails"><!--need to link to page-->
                        <img width="130px" height="70px" src="{{ url_for('static', filename='accountIcon.png') }}">
                    </a>
                    <div class="navbar-nav ml-auto"> <!--Aligning text to the right-->
                    <!--Nav items-->
                    <a class="nav-item nav-link" id="shop" href="/shop">Shop</a>
                    <a class="nav-item nav-link" id="aboutUs" href="/about-us">About Us</a>
                    <a class="nav-item nav-link" id="contact" href="/contact">Contact</a>
                    <a class="nav-item nav-link" id="contact" href="/contact">Contact</a>
                    

                    
                    {% if user.is_authenticated %} <!--NEW ADDITION-->
                    <!--Nav icons-->
                    <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>  
                    <a class="navbar-cart" href="#"><!--need to link to cart page-->
                        <img width="130px" height="70px" src="{{ url_for('static', filename='cartIcon.jpg')  }}">
                    </a>
                    <a class="navbar-icon" href="#"><!--need to linK to account page-->
                        <img width="130px" height="70px" src="{{ url_for('static', filename='accountIcon.png') }}">
                    </a>
                    {% else %}
                    <a class="nav-item nav-link" id="login" href="/login">Login</a> <!--NEW ADDITION-->
                    <a class="nav-item nav-link" id="signUp" href="/signUp">Sign up</a> <!--NEW ADDITION-->
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="footer p-5 bg-light"> <!--bg-light is the colouring-->
            <div class="container"> 
                <div class="row"> 
                    <div class="col-md-3"> 
                        <a href="/shop"><h5>Contact</h5></a>
                        <a href="/shop"><h5>About Us</h5></a>
                        <!--List of icons-->
                        <ul class="list-inline footer-links"> 
                            <li class="list-inline-item"> 
                                <a href="/shop"><img width="50px" height="50px" src="{{ url_for('static', filename='logo.png') }}"></a>
                              </li> 
                            <li class="list-inline-item" href="#"> 
                                <a href="/shop"><img width="50px" height="50px" src="{{ url_for('static', filename='logo.png') }}"></a> 
                            </li> 
                            <li class="list-inline-item" href="#"> 
                                <a href="/shop"><img width="50px" height="50px" src="{{ url_for('static', filename='logo.png') }}"></a>
                            </li> 
                        </ul> 
                    </div> 
                    <div class="col-md-3"> 
                        <!--footer logo image-->
                    <a class="footer-logo" href="/"> <!--linking to the home page-->
                        <img width="130px" height="100px" src="{{ url_for('static', filename='logo.png') }}">
                    </a>    
                    </div> 
                    <div class="col-md-3"> 
                        <h5>Open Hours</h5> 
                        <ul class="list-unstyled"> 
                            <li>Weekdays 10:00 - 5:00</li> 
                            <li>Saturday 11:00 - 4:30</li> 
                            <li>Sunday 11:00 - 3:30</li> 
                        </ul> 
                    </div> 
                </div> 
            </div> 
        </footer> 

        <!--Bootstrap + java scripts-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous">
    </script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous">
    </script>
    </body>
</html>