<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name ="viewport" content="width-device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navBase.css') }}">
        <link rel="stylesheet" href="https://use.typekit.net/btr0hfq.css">

        <!--creating a block template that children will be able to override-->
        <title>{% block title %}Nav Base{% endblock %}</title>
    </head>

    <body>
        <nav class="navBar">

            <div class="navBarMain">
                    
                <!--Icon Logo-->
                <a class="navBarLogoIcon" href="/"> <!--linking to the home page-->
                    <img height="150px" src="{{ url_for('static', filename='iconLogo.png') }}">
                </a>

                <!--Typographic Logo-->
                <a class="navBarLogoType" href="/shop"><!--need to link to page-->
                    <img height="110px" src="{{ url_for('static', filename='typographicLogo.png') }}">
                </a>

        
                
                <div class="navBarCategories"> 
                    <!--Nav items-->
                    <a class="navItem" id="shop" href="/shop">Shop</a>
                    <a class="navItem" id="aboutUs" href="/about-us">About Us</a>
                    <a class="navItem" id="contact" href="/contact">Contact</a>
                </div>

                



                {% if user.is_authenticated %} <!--NEW ADDITION-->
                <!--Nav icons-->
                <div class="loggedSection">
                    <a class="loggedLinks" id="logout" href="/logout">Logout</a>  
                    
                    <a class="loggedIcons" href="#"><!--need to link to cart page-->
                        <img height="40px" src="{{ url_for('static', filename='shoppingCart.png')  }}">
                    </a>

                    <a class="loggedIcons" href="/accountDetails">
                        <img height="40px" src="{{ url_for('static', filename='accountIcon.png') }}">
                    </a>
                    
                </div>
                {% else %}
                <div class="loginSection">
                    <a class="loginLinks" id="login" href="/login">Login</a> <!--NEW ADDITION-->
                    <a class="loginLinks" id="signUp" href="/signUp">Sign up</a> <!--NEW ADDITION-->
                </div>
                {% endif %}

            </div>      
        </nav>
        
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="footer">
            <div class="footerMain"> 

                <div class="column1">
                    <a class="column1Text" href="/shop"><h5>Contact</h5></a>
                    <a class="column1Text" href="/shop"><h5>About Us</h5></a>

                    
                    <ul class="socialMedias"> 
                        <li class="socialMediaItems"> 
                            <a href="/shop"><img height="40px" src="{{ url_for('static', filename='facebookIcon.png') }}"></a>
                        </li> 

                        <li class="socialMediaItems" href="#"> 
                            <a href="/shop"><img height="40px" src="{{ url_for('static', filename='twitterIcon.png') }}"></a>
                        </li> 

                        <li class="socialMediaItems" href="#"> 
                            <a href="/shop"><img height="40px" src="{{ url_for('static', filename='instaIcon.png') }}"></a> 
                        </li> 
                    </ul> 
                </div> 

                       
                <a class="footerLogo" href="/"> <!--linking to the home page-->
                    <img height="150px" src="{{ url_for('static', filename='iconLogo.png') }}">
                </a>    

                <div class="openHours"> 
                    <h5 class="openHoursTitle">Open Hours</h5> 
                    <ul class="openHoursList"> 
                        <li>Weekdays 10:00 - 5:00</li> 
                        <li>Saturday 11:00 - 4:30</li> 
                        <li>Sunday 11:00 - 3:30</li> 
                    </ul> 
                </div> 
            </div> 
        </footer> 

        <!--Bootstrap + java scripts-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous">
    </script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous">
    </script>
    </body>
</html>