<!--Inherits from navBase and overrides blocks-->
{% extends "navBase.html" %}
{% block title %}{{ product.name }}{% endblock %}
 
 
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
</head>
<body>
    <!-- insert breadcrumb nav here ? -->

    <div class="breadcrumbNav" align="center">
        {% if product.subSubCategory != "None" and product.subSubCategory != None %}
        <a href="/shop">Shop</a> > <a href="/shop{{product.category}}">{{product.category}}</a> > <a href="/shop{{product.category}}{{product.subCategory}}">{{product.subCategory}}</a> > <a href="/shop{{product.category}}{{product.subCategory}}{{product.subSubCategory}}">{{product.subSubCategory}}</a> > {{product.name}}
        {% elif product.subCategory != "None" and product.subCategory != None %}
        <a href="/shop">Shop</a> > <a href="/shop{{product.category}}">{{product.category}}</a> > <a href="/shop{{product.category}}{{product.subCategory}}">{{product.subCategory}}</a> > {{product.name}}
        {% else %}
        <a href="/shop">Shop</a> > <a href="/shop{{product.category}}">{{product.category}}</a> > {{product.name}}
        {% endif %}
    </div>

    <div class="flexBox">
        <div class="productImage">
            <img src="{{ url_for('static', filename='img/' + product.imageUrl) }}" width="400" height="350" alt="Plant image">
        </div>
        <div class="infoFlex">
        <div class="productInfo">
            {{ product.name }}
            {% if product.summary == "None" or product.summary == None %} 
            <br>
            {% else %} 
            <br> {{ product.summary }}
            {% endif %}
            <br>
            <div class=productPrice> ${{ product.price }} </div>
        </div>
        <div class="productCart">
            <p> Click and Collect available</p>
            <p> Delivery available</p>

            <div class="qtyAndBtn">

                <div class="quantity">
                    <select name="quantity" id="qty">
                        <option value="1">Qty: 1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        
                    </select>
                </div>
            
                <form action="{{ url_for('views.addToCart', productId=product.id) }}" method="POST">
                    <input type="hidden" name="quantity" id="qtySelect">
                    <button class="addBtn" type="submit" onclick="updateQty()">
                        Add to Cart
                    </button>
                </form>
            </div>

           


        </div>
        </div>

    </div>

    <div class="description">
        <h1>Description</h1>
        <p>{{ product.description }}</p>
    </div>

    <script>
        function updateQty() {
            var qtySelect = document.getElementById('qty').value;
            document.getElementById('qtySelect').value = qtySelect;
        }
    </script>

</body>

{% endblock %}