<!--Inherits from navBase and overrides blocks-->

{% extends "navBase.html" %}

{% block title %}Shop{% endblock %}





{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/shopPage.css') }}">







<!--Shop navigation that link to product categories-->

<div class="shopNav">

    <ul class="shopNavItems">

        <li class="shopNavItem"><a href="/shopPlants"><img class="navImage" height="70px" src="{{ url_for('static', filename='facebookIcon.png') }}"><br>Plants</a></li>

        <li class="shopNavItem"><a href="/shopPotsPlanters"><img class="navImage" height="70px" src="{{ url_for('static', filename='facebookIcon.png') }}"><br>Pots/Planters</a></li>

        <li class="shopNavItem"><a href="/shopPlantKits"><img class="navImage" height="70px" src="{{ url_for('static', filename='facebookIcon.png') }}"><br>Plant Kits</a></li>

        <li class="shopNavItem"><a href="/shopSuppliesAccessories"><img class="navImage" height="70px" src="{{ url_for('static', filename='facebookIcon.png') }}"><br>Supplies/Ac</a></li>

        <li class="shopNavItem"><a href="/shopGiftCards"><img class="navImage" height="70px" src="{{ url_for('static', filename='facebookIcon.png') }}"><br>Gift Cards</a></li>

    </ul>

</div>



<h1 class="title">Shop All Items</h1>



<!--Search bar-->

<form method="POST">

    {{ form.hidden_tag() }}

    {{ form.search.label }} {{ form.search(size=20) }}

    {{ form.submit() }}

</form>

<br>

<!--Displaying flash messages-->

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

 <!--Displays the list of products from database and the page title-->

<div class="shopContainer">

    <div class="flexContainer">
        {% block productDisplay %}
        {% for product in products %}
        
        <div class="flexBox">
            <a href = "/product/{{product.id}}">
            <div class="productImage">
                <img src="{{ url_for('static', filename='img/' + product.imageUrl) }}" width="200" height="150" alt="Plant image">
            </div>
            <div class="productName">
                {{ product.name }}
            </div>
            <div class="productSummary">
                {% if product.summary == "None" or product.summary == None %}
                 <p></p>
                {% else %} 
                {{ product.summary }}
                {% endif %}
            </div>
            <div class="productPrice">
                ${{ product.price }}
            </div>
            </a>
        </div>
        {% endfor %}
        {% endblock %}
    </div>  
</div>

{% endblock %}