<!--Inherits from navBase and overrides blocks-->

{% extends "shop.html" %}

{% block title %}Shop Gift Cards{% endblock %}

{% block productDisplay %}

 <!--Displays the list of products from database and the page title-->

<h1 class="title">Gift Cards</h1>

<div class="shopContainer"></div>
    <div class="flexContainer">
        {% for product in products %}
        {% if product.category == "GiftCards" %}
        <div class="flexBox">
            <a href = "/product/{{product.id}}">
            <div class="productImage">
                <img src="{{ url_for('static', filename='img/' + product.imageUrl) }}" width="200" height="150" alt="Plant image">
            </div>
            <div class="productName">
                {{ product.name }}
            </div>
            <div class="productSummary">
                {% if product.summary == "None" or product.summary == None %}
                 <p></p>
                {% else %} 
                {{ product.summary }}
                {% endif %}
            </div>
            <div class="productPrice">
                ${{ product.price }}
            </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>  
</div>
{% endblock %}

