<!--Inherits from navBase and overrides blocks-->
{% extends "navBase.html" %}
{% block title %}Shop Supplies/Accessories{% endblock %}
 
 
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shopPage.css') }}">
 
<!--Shop navigation that link to product categories-->
<div class="shopNav">
    <ul class="shopNavItems">
        <li class="shopNavItem"><a href="/shop"><img class="navImage" height="70px" src="{{ url_for('static', filename='facebookIcon.png') }}"><br>Plants</a></li>
        <li class="shopNavItem"><a href="/shop"><img class="navImage" height="70px" src="{{ url_for('static', filename='facebookIcon.png') }}"><br>Pots/Planters</a></li>
        <li class="shopNavItem"><a href="/shop"><img class="navImage" height="70px" src="{{ url_for('static', filename='facebookIcon.png') }}"><br>Plant Kits</a></li>
        <li class="shopNavItem"><a href="/shop"><img class="navImage" height="70px" src="{{ url_for('static', filename='facebookIcon.png') }}"><br>Gift Cards</a></li>
    </ul>
</div>

<!--Search bar-->
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.search.label }} {{ form.search(size=20) }}
    {{ form.submit() }}
</form>

<!--Displaying flash messages-->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

 <!--Displays the list of products from database and the page title-->
<div class="shopContainer">
   
    <h1 class="title">Supplies/Accessories</h1>
 
    
    <div class="flexContainer">
        {% for product in products %}
        {% if product.category == "SuppliesAccessories" %}
        <div class="flexBox">
            <div class="productImage">
                <img src="{{ url_for('static', filename='img/' + product.imageUrl) }}" width="200" height="150" alt="Plant image">
            </div>
            <div class="productName">
                {{ product.name }}
            </div>
            <div class="productSummary">
                {{ product.summary }}
            </div>
            <div class="productPrice">
                ${{ product.price }}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>  
</div>
{% endblock %}