{% extends "navBase.html" %}
{% block title %}Cart{% endblock %}
{% block content %}

<div class=pageHeader><h1>Your Cart</h1></div>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/viewCart.css') }}">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="message">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if cartItems %}
        <div class="cart">   
            {% for item in cartItems %}
            <div class="cartItemContain">
                <div class="cartItem">
                    <div class="btnFlex">
                    <form id="deleteOne" action="{{ url_for('views.removeFromCart', productId=item.productId) }}" method="POST">
                        <button class="delBtn"><img class="binImage" height="50px" src="{{ url_for('static', filename='trashIcon.png') }}"></button>
                    </form>
                    </div>

                    <div class="productImage">
                        <img src="{{ url_for('static', filename='img/' + item.shopproduct.imageUrl) }}" width="200" height="150" alt="Plant image">
                    </div>

                    <div class="itemTitle">
                        <h2>{{ item.shopproduct.name }}</h2>
                        {% if item.shopproduct.summary %}
                        {{item.shopproduct.summary}}
                        {% else %}
                        <p>-</p>
                        {% endif %}
                    </div>

                    <div class="qtyFlex">
                    <div class="qty"> {{ item.quantity }} </div>
                    </div>
                    <div class="priceFlex">
                    <div class="price"><b>${{ item.shopproduct.price * item.quantity }}</b></div>
                    </div>

                </div>
            </div>
                
            {% endfor %}
        
        </div>
        <hr>
        <div class="cartSummaryContainer">
            <div class="cartSummaryItems">
                <p>{{ totalQuantity }} items</p>
                <p>Shipping: </p>
                <p><b>Total:</b> </p>
            </div>
            
            <div class="cartSummaryItems2">
                <p>${{ totalPrice }}</p>
                <p><i>Free</i> </p>
                <p><b>${{ totalPrice }}</b></p>
            </div>
        </div>

        <form class="checkoutBtnLink" action="{{ url_for('views.checkout') }}">
            <button class="checkoutBtn">Go to Checkout</button>
        </form>

    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}

    {% endblock %}
</body>