.myAccountHeading {

    font-size: 50px;
    font-weight: lighter;
}

.detailsFlex{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.personalDetailsFlex{

   
    margin-left: 6%;
}

.shippingPaymentFlex{

  
    margin-right: 6%;
}

.detailsHeading{

    font-size: 35px;
}

.editButton{

    margin-left:45%;
    margin-right:45%;
    border: 2px solid black;
    background-color: white;
    border-radius: 18%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 38px;
    padding-right: 38px;
    font-size: large;

}

