.message{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #596C55;
    font-size: 18pt;
    list-style: none;
    text-align: center;
    padding: 0%;
}



.myAccountHeading {
    font-family: abril-titling, serif;
    font-style: normal;
    font-weight: 400;
    color: #596C55;
    font-size: 35pt;
}




.detailsMain{

    display: flex;
    justify-content: space-around;
    width:100%;
    margin-bottom: 10%;

}

.detailsFlexLabel{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #596C55;
    font-size: 18pt;
    text-decoration: underline;
}







.detailsGroupBody h1{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #596C55;
    font-size: 20pt;

    margin-bottom: 60px;
}

.detailsGroupBody p{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #596C55;
    font-size: 18pt;
}

.detailsGroupBody h2{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 18pt;
}



.detailsGroup{
    margin-bottom: 30%;
}

.shipPayGroup{
    margin-bottom: 15%;
}














.editButton{

    margin-left:45%;
    margin-right:45%;
    background-color: #C0CEC1;
    border: 3px solid #596C55;
    border-radius: 6px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);

    padding-left: 2%;
    padding-right: 2%;

}

.editButton a{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 18pt;
    text-decoration: none;
    height: 100px;
}


.editButton:hover{
    background-color: #596C55;
    border: 3px solid #596C55;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;
    color: white;
}

.editButton a:hover{
    color: white;
}



.errormsg {

    color: rgba(231, 0, 0, 0.692);
    display: flex;
    justify-content: center;
}




.detailsFlexItem{
    
    margin:3%;
}



.nameInput{
    display: flex;
}