.paraOne{
   height: 600px;
   background-image: url(/static/homePageLanderBlur.jpg);
   background-size: cover;
   background-attachment: fixed;
   background-position: bottom;
   background-repeat: no-repeat;
}

.paraOneTitle{
    justify-content: center;
    display: flex;
    padding-top: 8%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: abril-titling, serif;
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 100pt;
    text-decoration: none;
    margin-left: 9%;
    margin-right: 9%;
}

.paraOneText{
    justify-content: center;
    display: flex;
    margin-top: 0%;
    margin-bottom: 2%;
    font-family: abril-titling, serif;
    font-style: italic;
    font-weight: 400;
    color: white;
    font-size: 35pt;
    text-decoration: none;
}

.paraOneButton{
    background-color: #596C55;
    border: 4px solid white;
    border-radius: 12px;
    padding: 10px;

    font-family: "brandon-grotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    font-size: 20pt;
    text-decoration: none;

    display: flex;
    justify-content: center;
    margin-right: 45%;
    margin-left: 45%;
    margin-top: 0%;
}



.whoAreWe{
    margin-top: 0%;
}

.whoAreWe h1{
    font-family: abril-titling, serif;
    font-style: normal;
    font-weight: 400;
    color: #596C55;
    font-size: 35pt;
}

.whoAreWe p{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 18pt;
    text-decoration: none;
}


.featuredProducts{
    margin-top: 20%;
}

.featuredProducts h1{
    font-family: abril-titling, serif;
    font-style: normal;
    font-weight: 400;
    color: #596C55;
    font-size: 35pt;
}

.products{
    display: flex;
    justify-content: space-around;
}

.productItem h4{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 22pt;
    text-decoration: none;

    margin-bottom: 0%;
}

.productItem p{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 16pt;
    text-decoration: none;

    margin-top: 0%;
    margin-bottom: 0%;
}