body, html{
    margin: 0%;
    padding: 0%;
    background-image: url(/static/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


/*Nav Bar code*/

nav{
    height: 170px;
}

.navBar{
    background-color: #C0CEC1;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}


.navBarMain{
    display: flex; 
}

.navBarLogoIcon{
    margin-top: 0.5%;
    margin-left: 3%;
    margin-right: 0%;
    padding: 0%;
}

.navBarLogoType{
    margin-left: 5%;
    margin-right: 0%;
    margin-top: 1.5%;
    padding: 0%;
}

.navBarCategories{
    display: flex;
    margin-top: 3%;
    margin-left: 11%;
    margin-right: 0%;
    width: 50%;
    padding: 0%;
    height: fit-content;
}



.navItem{
    font-family: abril-titling, serif;
    font-style: normal;
    font-weight: 400;
    color: #596C55;
    font-size: 30pt;
    text-decoration: none;
    margin-left: 9%;
    margin-right: 9%;
}

.navItem:visited{
    color: #596C55;
}

.navItem:hover{
    color: white;
    transition: 0.2s ease-in-out;
}

.loginSection{
    margin-top: 4%;
    margin-left: 5%;
    display: block;
    width: 200px;
}

.loginLinks{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 15pt;
    margin-right: 10%;
    
}

.loginLinks:visited{
    color: #596C55;
}

.loginLinks:hover{
    color: white;
    transition: 0.2s ease-in-out;
}


.loggedSection{
    margin-top: 3.5%;
    margin-left: 2%;
    display: block;
    width: 300px;
    display: flex;
    
}

.loggedLinks{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 15pt;
    margin-right: 10%;
    margin-top: 4%;
    
}

.loggedLinks:visited{
    color: #596C55;
}

.loggedLinks:hover{
    color: white;
    transition: 0.2s ease-in-out;
}

.loggedIconsSection{
    display: flex;
}

.loggedIcons{
    margin-top: 2%;
    margin-right: 10%;
    text-decoration: none;
}









.iamgeblok{
    margin-top: 8.9%;
}

.container{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}









/*Footer code*/

.footerMain{
    height: 20%;
    display: flex;
    background-color: #C0CEC1;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    margin-top: 20%;
}

.column1{
    display: inline;
}

.column1Text{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 17pt;
    text-decoration: none;
}

.socialMedias{
    display: flex;
    list-style: none;
    padding: 0%;
    justify-content: space-around;
}

.socialMediaItems{
    margin-right: 5%;
}

.footerLogo{
    margin-top: 1%;
}

.openHours{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 15pt;
    text-decoration: none;
    text-align: right;
}

.openHoursTitle{
    margin-bottom: 2%;
    font-size: 17pt;
}

.openHoursList{
    list-style: none;
    margin-left: 0%;
    padding-left: 0%;
    margin-top: 0%;
}