.breadcrumbNav{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #596C55;
    font-size: 18pt;
    text-decoration: none;
    
    margin-bottom: 5%;
}

.breadcrumbNav a{
    color: #596C55;
    text-decoration: none;
}

.breadcrumbNav a:hover{
    text-decoration: underline;
}









.flexBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0;


}




.productImage{

    margin-left: 10%;
    margin-right: 10%;
    
}

.productName{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #596C55;
    font-size: 28pt;
    text-decoration: none;

    margin-bottom: 0%;
}


.productSummary{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #596C55;
    font-size: 20pt;
    text-decoration: none;

    margin-top: 0%;
    margin-bottom: 0%;
}



.productPrice{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 16pt;
    text-decoration: none;

    margin-top: 0%;
    margin-bottom: 0%;
}



    
.infoFlex{

    display: flex;
    flex-direction: column;
    align-items: left;
}

.productInfo{

    display: flex;
    flex-direction: column;
    font-size: 180%;
    
}



.productCart{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 16pt;
    margin-top: 20%;
}

.productCart p{
    margin: 0%;

}

.qtyAndBtn{

    display:flex;
    flex-direction: row;
    margin-top: 5%;
    
}



.qtyAndBtn button{
    border: 3px solid #596C55;
    border-radius: 6px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    width: 120%;

    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 12pt;
}



.qtyAndBtn button:hover{
    background-color: #596C55;
    border: 3px solid #596C55;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;
    width: 120%;

    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 12pt;
}


.quantity{
    margin-right: 5%;
}


.quantity select{
    border: 3px solid #596C55;
    border-radius: 6px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);

    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 12pt;
}

.addBtn {
    
    margin:0%;
    padding: 0%;
    border: 1px solid black;
}



.description{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}


.description h1{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #596C55;
    font-size: 28pt;
    text-decoration: none;
}


.description p{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 16pt;
    text-decoration: none;
}



