.breadcrumbNav{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #596C55;
    font-size: 18pt;
    text-decoration: none;
    
    margin-bottom: 5%;
}

.breadcrumbNav a{
    color: #596C55;
    text-decoration: none;
}

.breadcrumbNav a:hover{
    text-decoration: underline;
}









.flexBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;

}




.productImage{

    margin-left: 10%;
    margin-right: 10%;
    
}

.productName{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #596C55;
    font-size: 28pt;
    text-decoration: none;

    margin-bottom: 0%;
}


.productSummary{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #596C55;
    font-size: 20pt;
    text-decoration: none;

    margin-top: 0%;
    margin-bottom: 0%;
}



.productPrice{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 16pt;
    text-decoration: none;

    margin-top: 0%;
    margin-bottom: 0%;
}



    
.infoFlex{

    display: flex;
    flex-direction: column;
    align-items: left;
}

.productInfo{

    display: flex;
    flex-direction: column;
    font-size: 180%;
    
}



.productCart{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 16pt;
    margin-top: 20%;
}

.productCart p{
    margin: 0%;

}

.qtyAndBtn{

    display:flex;
    flex-direction: row;
    
    
}

.quantity{

    margin: 0% 0% 5% 0%;
}

.addBtn {

    margin:0%;
    padding: 0%;
    border: 1px solid black;
}
