.shopNav {
    background-color: yellow;
}
 
.navItems {
    flex-wrap: wrap;
}

ul {
  list-style: none;
  display: flex; 
  justify-content: center;
}

li {
    margin-right: 10%;
}
 
.navImage {
    border-radius: 35px;
}
 
.shopContainer {
    background-color: blue;
}

.title {
    background-color: purple;
    text-align: center;
}
 

.flexContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: pink;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;

}
.flexBox {
    width: 20%;
    height: auto;
    background: yellow;
    text-align: left;
    margin: 2%;
    border: 1px solid black;
}

.productImage {
    width: 50%;
    height: auto;
}