.pageHeader{

    padding-top: 3.5%;
    
}

.cart{

    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.cartItem{

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    

}

.delBtn{

    margin-top: 35%;
    margin-left: 60%;
    margin-right: 20%;
 
}

.productImage{

    margin-left: 2.5%;
    margin-right: 0%;
    
}

.itemTitle{

    margin-left:0%;
}

.qty{

    border: 1px solid black;
    padding: 10%;
    margin-left:5%;
    margin-right:5%;
    border-radius: 30%;
    max-height: 10%;
    
}

.cartSummaryContainer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width:auto;
}

.cartSummaryItems{

    display: flex;
    flex-direction: column;
    justify-content: left;
    width:auto;
    margin-right:20%;

}

.cartSummaryItems2{

    display: flex;
    flex-direction: column;
    justify-content: right;

}

.checkoutBtn{

    margin: 3%;
    background-color: #C0CEC1;
    border: 3px solid #596C55;
    border-radius: 6px;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #596C55;
    font-size: 18pt;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    padding-left: 2%;
    padding-right: 2%;
}

.checkoutBtnLink{

    display: flex;
    justify-content: center;
}




